.title {
    text-align: center;
}

.navbar {
    flex-direction: column;
}

.navbar-menu ul, .navbar-menu button {
    width: 100%;
}

#uvIndexField {
    background-color: grey;
    border-radius: 5px;
    padding: .5rem .75rem;
}